<div class="column col-xs-2">
  <ul class="nav-left navigation hidden-sm hidden-xs title-spacing" id="sidebar">
    <li id="logo-spacing"><a id="logo" href="#">M</a></li>
    <li class="pageselect pageselectcolor" data-slide="1">Home</li>
    <li class="pageselect pageselectcolor" data-slide="2">Projects</li>
    <li class="pageselect pageselectcolor" data-slide="3">Contact</li>
    <li class="pageselectcolor" id="name">MALCOLM GOURDINE</li>
  </ul>
</div>


<!-- Slide 1 -->

<div class="col-xs-8">

  <div class="slide" id="slide1"
      data-background="#015AA0"
      data-navright="#6A9FC9"
      data-logobackground="#015AA0"
      data-logo="#C34A80"
      data-pageselectcolor="#ffffff"
      data-highlightright="#C34A80"
      data-highlightleft="#6A9FC9"
      data-slide="1">
    <div class="row">
      <h2 class="header title-spacing">
        Full stack web development using the latest frameworks like -
        Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
        designed by me.
      </h2>
    </div>
    <div class="row skills-row">
      <div class="col-xs-4 col-sm-2">
        <p class="skills">
          skills
        </p>
      </div>

      <p><a href="#">Html</a> <a href="#">CSS</a><a href="#">JavaScript</a>
        <a href="#">AngularJS</a> <a href="#">Ruby on Rails</a> <a href="#">Postgres</a> <a href="#">RSpec</a></p>
    </div>


    <div class="development row">
      <div class="col-sm-5">
        <ul>
          <h4 class="title-spacing">DEVELOPMENT</h4>
          <li>
            Website & <br>
            Web Application
          </li>
          <li>
            Ruby on Rails Specialist
          </li>
          <li>
            Test Driven Development
          </li>
        </ul>
      </div>

      <div class="col-sm-5">
        <ul>
          <h4 class="title">DESIGN</h4>
          <li>UI (User Interface)</li>
          <li>Brand</li>
          <li>PSD (Photoshop Design)</li>
          <li>Illustrator Desgin</li>
        </ul>
      </div>

      <div class="col-xs-2">
        <span class="fa fa-circle">
          <div
              class="gifs"><%= image_tag("gifs/animat-diamond.gif") %>
          </div>

        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div><%= image_tag("me.png", class: "me img-responsive") %></div>
      </div>

      <div class="col-sm-7 description how">
        <h4 class="title-spacing">HOW I WORK</h4>
        <p>
          Idea<br>
          Create a core concept for the functionality and design for a website or
          application. <br>

          research <br>
          Are there any examples of applications with the same or similar concept?
          What do they do well and what can be improved? How will this project be
          different?<br>

          test <br>
          write tests to test the view and functionality of the project.<br>

          code <br>
          Write code that fulfills the test obligations.  Make sure all tests pass!<br>

          launch <br>
          Find appropriate web hostinng and deploy for the world to see!
        </p>
      </div>
    </div>
  </div>

  <!--Slide 2-->

  <div class="slide" id="slide2"
      data-slide="2"
      data-background="#011E33"
      data-navright="#E49F27"
      data-logobackground="#4e96d0"
      data-logo="#001320"
      data-pageselectcolor="#FFFFFF"
      data-highlightright="#F3D456"
      data-highlightleft="#E49F27">

  </div>

  <!--Slide 3-->

  <div class="slide"
    id="slide3"
    data-slide="3"
    data-background="#EAEAE8"
    data-navright="#C4AD8D"
    data-logobackground="#F3FCFC"
    data-logo="#3fd0d3"
    data-pageselectcolor="#3B3B3B"
    data-highlightright="#EAC767"
    data-highlightleft="#C4AD8D">

    <div class="col-sm-offset-2 col-xs-12 col-sm-8 col-md-8">
      <h2 class="contact">CONTACT</h2>
        <%= simple_form_for @contact, :html => { :class => 'horizontal-form contact-form' } do |f| %>
        <div class="contact-spacing">
          <%= f.input :name,:required => true %>
        </div>
        <div class="contact-spacing">
          <%= f.input :email, :required => true %>
        </div>
        <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10} %>
        <div class="hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div class="row">
          <div class="budget-buttons col-xs-6">
            Budget: &nbsp;
            <%= f.radio_button :budget,'$',:checked => true%>$ &nbsp;
            <%= f.radio_button :budget,'$$'%>$$ &nbsp;
            <%= f.radio_button :budget,'$$$'%>$$$
          </div>

          <div class="form-actions button col-sm-6">
            <%= f.button :submit, 'Send message', :class=> "btn btn-danger" %>
          </div>
        </div>


      <% end %>
    </div>
  </div>

</div>

<!-- nav-right -->

<ul class="navigation nav-right affix hidden-sm hidden-xs">
<li>
  <a href="#">
    <i class="fa fa-twitter fa-2x"></i>
  </a>
</li>

<li>
  <a href="#">
    <i class="fa fa-github fa-2x"></i>
  </a>
</li>

<li>
  <a href="#">
    <i class="fa fa-flickr fa-2x"></i>
  </a>
</li>
</ul>
</div>
