      <!-- Small Screen Top Navbar  -->
<nav role="navigation" class="navbar navbar-default hidden-sm hidden-md hidden-lg">
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <div class="col-xs-12 center">
      <ul class="nav navbar-nav">
        <li><a data-slide="1">Home</a></li>
        <li><a data-slide="2">Portfolio</a></li>
        <li><a data-slide="3">Contact</a></li>
      </ul>
    </div>
  </div>
      <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar "></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="col-xs-offset-2">
      <div class="navbar-brand">
        <a>Malcolm Gourdine</a>
      </div>
    </div>
  </div>
</nav>
      <!-- Large Screen Left Navbar  -->
<div class="column col-xs-2">
  <ul class="nav-left navigation hidden-xs title-spacing" id="sidebar">
    <li id="logo-spacing"><a id="logo" href="#">M</a></li>
    <li class="pageselect pageselectcolor" data-slide="1">Home</li>
    <li class="pageselect pageselectcolor" data-slide="2">Portfolio</li>
    <li class="pageselect pageselectcolor" data-slide="3">Contact</li>
    <li class="pageselectcolor" id="name">MALCOLM GOURDINE</li>
  </ul>
</div>
      <!-- Slide 1 -->
<div class="container-fluid">


<div class="col-xs-8">
  <div class="slide" id="slide1"
    data-background="#015AA0"
    data-navright="#6A9FC9"
    data-logobackground="#015AA0"
    data-logo="#C34A80"
    data-pageselectcolor="#ffffff"
    data-highlightright="#C34A80"
    data-highlightleft="#6A9FC9"
    data-slide="1">
    <div class="row">
      <h2 class="header title-spacing">
        Full stack web development using the latest frameworks like -
        Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
        designed by me.
      </h2>
    </div>

    <div class="row skills-row">
      <div class="col-xs-5 col-sm-3">
        <p class="skills">skills</p>
      </div>
      <p>
        <a href="">Html</a> <a href="">CSS</a><a href="">JavaScript</a>
        <a href="">AngularJS</a> <a href="">Ruby on Rails</a>
        <a href="">Postgres</a>
      </p>
    </div>

    <div class="row design-ro">
      <div class="col-xs-6 col-sm-5">
        <ul>
          <h3>DESIGN</h3>
          <li>User Interface</li>
          <li>Brand</li>
          <li>Photoshop Design</li>
          <li>Illustrator Desgin</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-5">
        <ul>
          <h3>DEVELOPMENT</h3>
          <li>Website & <br>
            Web Application</li>
          <li>Ruby on Rails</li>
          <li>Test Driven Development</li>
        </ul>
      </div>
      <div class=" col-xs-12 col-sm-2 center">
        <span class="fa fa-flash">
          <div class="gifs">
            <%= image_tag("gifs/animat-diamond.gif") %>
          </div>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <%= image_tag("me.png", class: "me img-responsive") %>
      </div>

      <div class="col-sm-6 col-md-6 description how">
        <h3 class="title-spacing">How I Work</h3>
        <p>
          When you choose to work with Malcolm Gourdine you're buying a high standard
          of solid design, harmonious color and typography that works. All of the
          web design layouts I make are responsive and work on every screen size
          and type. My coding process is guided by test driven development.
          I use the popular testing framework Capybara for front end and RSpec
          for the backend. I love to callaborate with people to create and build
          stunning sites and applications you can't take your eyes off of.
        </p>
      </div>
    </div>

      <div class="row">
        <ul class="center small-social-media hidden-md hidden-lg">
          <a href="#">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
          <a href="https://github.com/Ideal-Poster" target="_blank">
            <i class="fa fa-github fa-lg"></i>
          </a>
          <a href="https://www.flickr.com/cameraroll/" target="_blank">
            <i class="fa fa-flickr fa-lg"></i>
          </a>
        </ul>
      </div>


  </div>

  <!--Slide 2-->

  <div class="slide" id="slide2"
      data-slide="2"
      data-background="#011E33"
      data-navright="#E49F27"
      data-logobackground="#79DBF6"
      data-logo="#001320"
      data-pageselectcolor="#FFFFFF"
      data-highlightright="#E94F0A"
      data-highlightleft="#E49F27">

  </div>

  <!--Slide 3-->

  <div class="slide"
    id="slide3"
    data-slide="3"
    data-background="#EAEAE8"
    data-navright="#C4AD8D"
    data-logobackground="#F3FCFC"
    data-logo="#3fd0d3"
    data-pageselectcolor="#3B3B3B"
    data-highlightright="#EAC767"
    data-highlightleft="#C4AD8D">

    <div class="col-sm-offset-2 col-xs-12 col-sm-8 col-md-8">
      <h2 class="contact">CONTACT</h2>
        <%= form_for @contact do |f| %>

        <div class="contact-spacing">
          <%= f.text_field :name,:required => true, class: 'name full-width' %>
        </div>

        <div class="contact-spacing">
          <%= f.text_field :email, :required => true, class: 'email full-width' %>
        </div>

          <%= f.text_area :message, :as => :text, :required => false, class: 'message full-width' %>

        <div class="hidden">
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <div class="row">
          <div class="budget-buttons col-xs-6">
            Budget: &nbsp;
            <%= f.radio_button :budget,'$',:checked => true%>$ &nbsp;
            <%= f.radio_button :budget,'$$'%>$$ &nbsp;
            <%= f.radio_button :budget,'$$$'%>$$$
          </div>

          <div class="form-actions button col-sm-6">
            <%= f.submit 'Send message', :class=> "btn btn-danger" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>

<!-- nav-right -->

<ul class="navigation nav-right affix hidden-xs">
  <a href="#">
    <i class="fa fa-twitter fa-2x"></i>
  </a>

  <a href="https://github.com/Ideal-Poster" target="_blank">
    <i class="fa fa-github fa-2x"></i>
  </a>

  <a href="https://www.flickr.com/cameraroll/" target="_blank">
    <i class="fa fa-flickr fa-2x"></i>
  </a>
</ul>
</div>
