<!DOCTYPE html>
<html ng-app="Ideal_Poster">
  <head>
    <title>malcolmgourdine.com | Web Developement & Design</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'web_logo.png' %>
    <%= csrf_meta_tags %>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/jquery.scrollie.min_1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body onload="start">
    <%= yield %>
  </body>
</html>
